.seeAllButtonClass{
    position: relative;
    left:90%;
    bottom:7px;

}

.foodTextCategory{
    position:relative;
    color: black;
    font-size: 30px;
    top:1px;
    bottom:15px;
    margin:-15px;
}